<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7d666d07-5121-4c36-9c17-fa54f05cc7e8/resourceGroups/EmanuelCaprariu/providers/Microsoft.Web/sites/WebApiComplexFood20220620170623</ResourceId>
    <ResourceGroup>EmanuelCaprariu</ResourceGroup>
    <ApiResourceId>/subscriptions/7d666d07-5121-4c36-9c17-fa54f05cc7e8/resourceGroups/EmanuelCaprariu/providers/Microsoft.ApiManagement/service/WebApiComplexFoodapi/apis/WebApiComplexFood</ApiResourceId>
    <OpenApiDocumentName>WebApiComplexFood20220620170623</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapicomplexfood20220620170623.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3a3eb3d1-2815-41d4-9fe4-d7ff67e24ce6</ProjectGuid>
    <MSDeployServiceURL>webapicomplexfood20220620170623.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApiComplexFood20220620170623</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebApiComplexFood20220620170623</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>